/*
	Itinerants(tm) production
	inhouse developing project for : Teaser page of Itinerants front website
	Any component, content and also script are copyrighted for Itinerants(tm) purpose only.
	Any other use not involving Itinerants(tm) or not for any Itinerants(tm) purpose must be permited by any owner of Itinerants(tm) name.

	involved dev : 
	- a88y@github.com

	any bug and issue, contact : abby.s.nugraha@gmail.com / abby@itinerants.co / tech.team@itinerants.co

*/

html, body, body * {
	background-color: transparent;
}

.container-fluid {
	height: 100%;
	padding: 5% 15px;
}

.logo-container {
	padding: 0 10%;
}

.logo-container img {
	width: 100%;
}

.bgbig {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-image: url(../images/bgbig.jpg);
}

.bgtransparent {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: transparent;
	background-repeat: repeat;
	background-image: url(../images/tranparent.png);
}

.rgba .bgtransparent {
	background-color: rgba(0,0,0,.6);
	background-image: none;
}

#tubular-container {
	opacity: 0;

    -webkit-transition: opacity 1500ms ease-out 1s;
    -moz-transition: opacity 1500ms ease-out 1s;
    -o-transition: opacity 1500ms ease-out 1s;
    transition: opacity 1500ms ease-out 1s;
}

#tubular-container.show {
	opacity: 1;
}